.navigation{
    padding: 0 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 72px;
   
}

.navigation ul{
    display: flex;
    justify-content: space-between;
    gap: 24px;
    font-weight: 500;
    list-style: none;

}